<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article id="main">
    <div>
        <section>
        <h1>Hlavní Strana</h1><br>
        <h2>Vítejte na našem E-shopu</h2> <br>
        <p>Pokračujte na stránku o našem e-shopu nebo přejděte na nabízené produkty</p>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>