<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<article id="shopik">
    <div>
        <section>
        <h2>O E-Shopu</h2><br>
        <p>logo ...</p><br>
        <h3>O našem E-Shopu</h3><br>
        <p>Náš eshop je bla bla</p><br>
        <p>lalalalalllala</p><br>
        <p>ble ble ble ble ble ble</p>
        </section>
    </div>
</article>


<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>